* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-main);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

.container {
    margin: 0 auto;
    max-width: 970px;
    padding: 0 10px;
}

.divider {
    height: 1px;
    max-width: 420px;
    width: 100%;
    border: none;
    margin: 0 auto;
    background-color: var(--color-main-black);
}